$primary-color: #6c63ff;

$light-bg: #ffffff;
$dark-bg: #0f172a;

$text-dark: #1e293b;
$text-light: #f1f5f9;

$muted-light: #f1f5f9;
$muted-dark: #1e293b;

$border-light: #cbd5e1;
$border-dark: #334155;

$radius: 10px;
$radius-pill: 50px;

$shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

$transition: all 0.3s ease;

$container-max: 1100px;