@use "../abstracts/variables" as v;

.btn-primary {
  background: white;
  color: #4f46e5;
  padding: 0.8rem 1.5rem;
  border-radius: v.$radius-pill;
  text-decoration: none;
  font-weight: bold;
  transition: v.$transition;
  display: inline-block;

  &:hover {
    transform: translateY(-3px);
  }
}